body {
    margin: 0px;
    font-family: Libre Franklin;
}

a {
    text-decoration: none;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px;
    border-style: solid;
    border-color: #b8bfd0;
}

.divider > img {
    margin: 10px;
}

header {
    background-color: #34436b;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: 60px;
}

header > span {
    align-self: center;
    padding: 10px;
    font-size: 16px;
}

header > a {
    align-self: center;
    justify-self: right;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.upper-images, .upper-images > a {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    margin: 10px 5px 5px 5px;
}

.upper-images > img, .upper-images > a {
    align-self: center;
}

.gr {
    justify-self: center;
}

.categories-table {
    width: 95%;
    color: #b4bed5;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    justify-self: center;
    border-collapse: collapse;
    font-size: 16px;
}

.uppertd {
    border-style: solid;
    border-color: #b4bed5;
    border-width: 2px;
    height: 50px;
}

.lower-categories {
    font-size: 24px;
    text-transform: uppercase;
}

.lower-div-m {
    background-image: url(images/img/01.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
    height: 200px;
    color: #304068;
}

.boys:hover {
    text-decoration: underline;
    text-decoration-color: #304068;
}

.lower-div-f {
    background-image: url(images/img/02.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
    height: 200px;
    color: #c7232f;
}

.girls:hover {
    text-decoration: underline;
    text-decoration-color: #c7232f;
}

.lower-div-o {
    background-image: url(images/img/03-01.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
    height: 200px;
    color: #304068;
}

.other:hover {
    text-decoration: underline;
    text-decoration-color: #304068;
}

.lower-div-m > p, .lower-div-f > p, .lower-div-o > p {
    padding-left: 20px;
    width: 40%;
}

.divider {
    align-content: center;
}

.products-button {
    text-align: center;
}

.products-button > button {
    color: white;
    font-size: 16px;
    background-color: #c7232f;
    border-style: none;
    padding: 15px;
}

.product1, .product2, .product3, .product4 {
    border-style: solid;
    border-color: #b4bed5;
    margin: 50px;
}

.product1 > a > img, .product2 > a > img, .product3 > a > img, .product4 > a > img {
    width: 100%;
    height: 100%;
}

.product1 > a > p, .product2 > a > p, .product3 > a > p, .product4 > a > p {
    font-size: 18px;
    color: #304068;
    width: 90%;
    margin-left: 10px;
}

.product1 > a > .product-cart, .product2 > a > .product-cart, .product3 > a > .product-cart, .product4 > a > .product-cart {
    width: 30px;
    height: 30px;
    display: none;
}

.product1:hover, .product2:hover, .product3:hover, .product4:hover {
    border-color: #c7232f;

    p {
        font-weight: bold;
    }
    a > .product-cart, a > .product-cart, a > .product-cart, a > .product-cart {
        width: 30px;
        height: 30px;
        display: inline;
    }
}

.start-text {
    font-size: 35px;
}

.upper-text {
    text-align: center;
    color: #c7232f;
}

.lower-text {
    text-align: center;
    color: #304068;
    font-weight: bold;
}

.new-price {
    font-size: 20px;
    color: #c7232f;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
}

.old-price {
    font-size: 20px;
    color: #b5bfd5;
    text-decoration: line-through;
}

.storage {
    margin-top: 20px;
}

.storage-availability, .free-delivery, .size-measurement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 10px;
}
.storage-availability > img, .free-delivery > img, .size-measurement > img {
    background-color: #304068;
    border-color: #304068;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
}

.newsletter {
    background-image: url(images/img2/Newsletter.png);
    margin-top: 40px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 35% 20%;
}

.newsletter > p {
    text-align: center;
}

.upper-text-form {
    font-weight: bold;
}

.pre-footer {
    background-color: #c7232e;
    color: white;
}

footer {
    background-color: #34436b;
    color: white;
}

@media screen and (min-wdith > 425px) {
    
}