body {
    margin: 0px;

}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px;
    border-style: solid;
    border-color: #b8bfd0;
}

.divider > img {
    margin: 10px;
}

header {
    background-color: #34436b;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: 60px;
}

header > span {
    align-self: center;
    padding: 10px;
    font-size: 16px;
}

header > img {
    align-self: center;
    justify-self: right;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.upper-images {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    margin: 20px 5px 5px 5px;
}

.upper-images > img {
    align-self: center;
}

.gr {
    justify-self: center;
}

.categories-table {
    width: 95%;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    justify-self: center;
    border-collapse: collapse;
    font-size: 16px;
}

.uppertd {
    border-style: solid;
    border-width: 2px;
    height: 50px;
}

.lower-categories {
    font-size: 24px;
}

.lower-div-m {
    background-image: url(images/img/01.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
}

.lower-div-m > p {
    padding-left: 20px;
}

.lower-div-f {
    background-image: url(images/img/02.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
}

.lower-div-f > p {
    padding-left: 20px;
}

.lower-div-o {
    background-image: url(images/img/03-01.png);
    background-repeat: no-repeat;
    align-content: center;
    margin: 10px 5px 5px 5px;
}

.lower-div-o > p {
    padding-left: 20px;
}

.divider {
    align-content: center;
}

.products-button {
    text-align: center;
}

.products-button > button {
    color: white;
    font-size: 16px;
    background-color: #c7232f;
    border-style: none;
    padding: 15px;
}

.product1 > p, .product2 > p, .product3 > p, .product4 > p {
    font-size: 18px;
    color: #304068;
}

.start-text {
    font-size: 35px;
}

.upper-text {
    text-align: center;
    color: #c7232f;
}

.lower-text {
    text-align: center;
    color: #304068;
    font-weight: bold;
}

.product1 {
    background-image: url(images/img2/Barefoot-Brown.png);
}

.product2 {
    background-image: url(images/img2/Barefoot-Pink.png);
}

.product3 {
    background-image: url(images/img2/Sandals-Blue.png);
}
.product4 {
    background-image: url(images/img2/High-Shoes.png);
}

.new-price {
    font-size: 20px;
    color: #c7232f;
    font-weight: bold;
}

.old-price {
    font-size: 20px;
    color: #b5bfd5;
    text-decoration: line-through;
}

.storage {
    margin-top: 20px;
}

.storage-availability, .free-delivery, .size-measurement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 10px;
}
.storage-availability > img, .free-delivery > img, .size-measurement > img {
    background-color: #304068;
    border-color: #304068;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
}

.newsletter {
    background-image: url();
    margin-top: 40px;
}

.newsletter > p {
    text-align: center;
}

.upper-text-form {
    font-weight: bold;
}

.pre-footer {
    background-color: #c7232e;
    color: white;
}

footer {
    background-color: #34436b;
    color: white;
}

@media screen and (min-wdith > 425px) {
    
}